<div class="appMain" style="overflow-y: auto; height: 100%;">
  <form class="pretty-form" style="height: 100%;">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Pokemon ID</mat-label>
      <input matInput placeholder="Id" [(ngModel)] = "idPokemon" [ngModelOptions]="{standalone: true}" >
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="buscar()" type="button">Buscar Pokemon</button>



    <mat-card class="example-card" *ngIf="pokemon">
      <mat-card-header>
        <mat-card-title>{{pokemon.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{pokemon.sprites.front_default}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h2>Datos Basicos</h2>
        <mat-list role="list">
          <mat-list-item role="listitem"><strong>Peso:</strong> {{pokemon.weight}} hg</mat-list-item>
          <mat-list-item role="listitem"><strong>Altura:</strong>{{pokemon.height}} dm</mat-list-item>
        </mat-list>
        <h2>Datos Basicos</h2>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let ability of pokemon.abilities"><strong>{{ability.ability.name}}</strong></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>



  </form>

  
  <router-outlet></router-outlet>
</div>